html {
  min-height: 100%;
  height: auto;
  position: relative; }

body {
  min-height: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
  padding-bottom: 12px; }

.main-navigation {
  top: 0;
  left: 0;
  width: 100%;
  height: 94px;
  box-shadow: 0px 2px 2px #c9c9c9;
  background: white;
  position: fixed;
  display: block;
  z-index: 2; }
  .main-navigation #title {
    width: 1408px;
    transition: padding 0.5s;
    margin: 0 auto;
    text-align: center;
    display: block; }
    .main-navigation #title.active {
      padding-left: 96px; }
    .main-navigation #title h1 {
      font-weight: bold;
      padding: 24px;
      margin: 0;
      color: #303030; }

.left-navigation {
  top: 0;
  left: 0;
  width: 96px;
  height: 100%;
  position: fixed;
  z-index: 3; }
  .left-navigation #toggler {
    width: 96px;
    height: 94px;
    float: left;
    background: white;
    display: block; }
    .left-navigation #toggler i {
      margin: 29px;
      font-size: 36px;
      color: #303030;
      text-decoration: none; }
      .left-navigation #toggler i:hover {
        color: #1c1c1c; }
  .left-navigation #toggler a i {
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .left-navigation #toggler.active a i {
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari 3-8 */
    transform: rotate(-90deg); }
  .left-navigation .items {
    left: -96px;
    padding: 0;
    padding-top: 24px;
    width: 96px;
    height: 100%;
    margin: 94px 0;
    background: #424242;
    transition: left 0.5s, right 0.5s;
    position: fixed; }
    .left-navigation .items.active {
      left: 0; }
    .left-navigation .items .item {
      padding: 0;
      margin: 0;
      display: block;
      list-style: none; }
      .left-navigation .items .item a {
        margin: 24px auto;
        width: 52px;
        height: 52px;
        border-radius: 26px;
        background: white;
        text-align: center;
        text-decoration: none;
        display: block; }
        .left-navigation .items .item a i {
          font-size: 24px;
          color: #424242; }
        .left-navigation .items .item a:hover i {
          opacity: 0.8; }
    .left-navigation .items .item.home a i {
      margin: 13px;
      color: #007bc7; }
    .left-navigation .items .item.about a i {
      margin: 14px 16px;
      color: #e20000; }
    .left-navigation .items .item.blog a i {
      margin: 14px 16px;
      color: #079a00; }
    .left-navigation .items .item.status a i {
      margin: 14px 15px;
      color: #e6d800; }

.main-content {
  width: auto;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 24px;
  padding: 108px 36px;
  padding-bottom: 24px;
  transition: all 0.5s;
  position: relative; }
  .main-content.active {
    padding-left: 132px; }
  .main-content .content-container {
    width: 1200px;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    transition: all 0.5s; }
    .main-content .content-container .content-block {
      width: 576px;
      height: 300px;
      position: relative;
      margin: 12px;
      padding: 24px;
      box-shadow: 0px 4px 4px #c9c9c9;
      float: left;
      background: white;
      display: block;
      transition: all 0.5s; }
      .main-content .content-container .content-block.active {
        box-shadow: 0px 4px 4px #a8a8a8; }
        .main-content .content-container .content-block.active .content-image {
          -webkit-box-shadow: 0px 5px 4px -1px rgba(84, 84, 84, 0.2);
          -moz-box-shadow: 0px 5px 4px -1px rgba(84, 84, 84, 0.2);
          box-shadow: 0px 5x 4px -1px rgba(84, 84, 84, 0.2); }
      .main-content .content-container .content-block .content-image .image {
        padding: 12px;
        margin: 0 auto;
        height: 100%;
        display: block; }
      .main-content .content-container .content-block .content-description {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 75px;
        position: absolute;
        text-align: center;
        z-index: 0;
        background: #ff5e5e; }
        .main-content .content-container .content-block .content-description.web-development {
          background: #4aa06d; }
        .main-content .content-container .content-block .content-description.about {
          background: #ff5e5e; }
        .main-content .content-container .content-block .content-description.blog {
          background: #5e9eff; }
        .main-content .content-container .content-block .content-description.status {
          background: #60c187; }
        .main-content .content-container .content-block .content-description h1 {
          padding: 18px;
          color: #f2f2f2; }
      .main-content .content-container .content-block .content-image {
        left: 0;
        top: 0;
        width: 100%;
        height: 300px;
        display: block;
        position: absolute;
        z-index: 1;
        transition: all 0.5s;
        background: #a0d1ff; }
        .main-content .content-container .content-block .content-image.web-development {
          background: #a0d1ff; }
        .main-content .content-container .content-block .content-image.about {
          background: #f9ffa3; }
        .main-content .content-container .content-block .content-image.blog {
          background: #61c188; }
        .main-content .content-container .content-block .content-image.status {
          background: #ff8e8a; }
      .main-content .content-container .content-block.active .content-image {
        height: 225px; }
      .main-content .content-container .content-block h1 {
        margin: 0; }

/**
 * Responsive Design
 * Less than 1372px
 */
@media only screen and (max-width: 1372px) {
  .main-navigation #title {
    width: 1126.4px; }

  .main-content {
    width: auto; }
    .main-content .content-container {
      width: 960px; }
      .main-content .content-container .content-block {
        width: 460.8px;
        height: 240px;
        margin: 9.6px; }
        .main-content .content-container .content-block .content-image {
          height: 240px; }
        .main-content .content-container .content-block .content-description {
          height: 60px; }
          .main-content .content-container .content-block .content-description h1 {
            font-size: 28.8px;
            padding: 14.4px; }
        .main-content .content-container .content-block.active .content-image {
          height: 180px; } }
/**
 * Responsive Design
 * Less than 1130px
 */
@media only screen and (max-width: 1130px) {
  .main-navigation #title {
    width: 985.6px; }

  .main-content {
    width: auto; }
    .main-content .content-container {
      width: 840px; }
      .main-content .content-container .content-block {
        width: 403.2px;
        height: 210px;
        margin: 8.4px; }
        .main-content .content-container .content-block .content-image {
          height: 210px; }
        .main-content .content-container .content-block .content-description {
          height: 52.5px; }
          .main-content .content-container .content-block .content-description h1 {
            font-size: 25.2px;
            padding: 12.6px; }
        .main-content .content-container .content-block.active .content-image {
          height: 157.5px; } }
/**
 * Responsive Design
 * Less than 1020px
 */
@media only screen and (max-width: 1020px) {
  .main-navigation #title {
    width: 844.8px; }

  .main-content {
    width: auto; }
    .main-content .content-container {
      width: 720px; }
      .main-content .content-container .content-block {
        width: 691.2px;
        height: 360px;
        margin: 16.8px; }
        .main-content .content-container .content-block .content-image {
          height: 360px; }
        .main-content .content-container .content-block .content-description {
          height: 90px; }
          .main-content .content-container .content-block .content-description h1 {
            font-size: 43.2px;
            padding: 21.6px; }
        .main-content .content-container .content-block.active .content-image {
          height: 270px; } }
/**
 * Responsive Design
 * Less than 892px
 */
@media only screen and (max-width: 892px) {
  .main-navigation #title {
    width: 704px; }

  .main-content {
    width: auto; }
    .main-content .content-container {
      width: 600px; }
      .main-content .content-container .content-block {
        width: 576px;
        height: 300px;
        margin: 14.4px; }
        .main-content .content-container .content-block .content-image {
          height: 300px; }
        .main-content .content-container .content-block .content-description {
          height: 75px; }
          .main-content .content-container .content-block .content-description h1 {
            font-size: 36px;
            padding: 18px; }
        .main-content .content-container .content-block.active .content-image {
          height: 225px; } }
/**
 * Responsive Design
 * Less than 678px
 */
@media only screen and (max-width: 678px) {
  .main-navigation #title {
    width: 563.2px; }

  .main-content {
    width: auto; }
    .main-content .content-container {
      width: 480px; }
      .main-content .content-container .content-block {
        width: 460.8px;
        height: 240px;
        margin: 14.4px; }
        .main-content .content-container .content-block .content-image {
          height: 240px; }
        .main-content .content-container .content-block .content-description {
          height: 60px; }
          .main-content .content-container .content-block .content-description h1 {
            font-size: 28.8px;
            padding: 14.4px; }
        .main-content .content-container .content-block.active .content-image {
          height: 180px; } }
/**
 * Responsive Design
 * Less than 558px
 */
@media only screen and (max-width: 558px) {
  .main-navigation #title {
    width: 422.4px; }

  .main-content {
    width: auto; }
    .main-content .content-container {
      width: 360px; }
      .main-content .content-container .content-block {
        width: 345.6px;
        height: 180px;
        margin: 14.4px; }
        .main-content .content-container .content-block .content-image {
          height: 180px; }
        .main-content .content-container .content-block .content-description {
          height: 45px; }
          .main-content .content-container .content-block .content-description h1 {
            font-size: 21.6px;
            padding: 10.8px; }
        .main-content .content-container .content-block.active .content-image {
          height: 135px; } }

/*# sourceMappingURL=stylesheet.css.map */
