$item-size: 52px;

$title-size: 1408px;

$content-block-width: 576px;
$content-block-height: 300px;

html {
	min-height: 100%;
	height: auto;

	position: relative;
}

body {

	min-height: 100%;
	height: auto;

	font-family: 'Open Sans', sans-serif;
	background: #f2f2f2;

	padding-bottom: 12px;
}


.main-navigation {

	top: 0;
	left: 0;

	width: 100%;
	height: 94px;

	box-shadow: 0px 2px 2px #c9c9c9;
	
	background: white;
	position: fixed;

	display: block;

	z-index: 2;

	#title {
		width: $title-size;
		
		transition: padding 0.5s;
		margin: 0 auto;
		
		text-align: center;
		display: block;

		&.active {
			padding-left: 96px;
		}

		h1 {
			font-weight: bold;
			padding: 24px;
			margin: 0;

			color: #303030;
		}
	}
}

.left-navigation {

	top: 0;
	left: 0;

	width: 96px;
	height: 100%;

	position: fixed;
	
	z-index: 3;

	#toggler {
		width: 96px;
		height: 94px;

		float: left;

		background: white;
		display: block;

		i {
			margin: 29px;
			font-size: 36px;

			color: #303030;
			text-decoration: none;

			&:hover {
				color: #1c1c1c;
			}
		}
	}

	#toggler {

		a i {
			-ms-transition: all 0.5s;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
		}

		&.active a i {
			-ms-transform: rotate(-90deg); /* IE 9 */
		    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
		    transform: rotate(-90deg);
		}
	}

	.items {

		left: -96px;

		padding: 0;
		padding-top: 24px;

		width: 96px;
		height: 100%;

		margin: 94px 0;

		background: #424242;

		transition: left 0.5s, right 0.5s;

		position: fixed;

		&.active {
			// box-shadow: 2px 2px 2px #c9c9c9;
			left: 0; 
		}

		.item {

			padding: 0;
			margin: 0;


			display: block;
			
			list-style: none;

			a {
				margin: 24px auto;

				width: $item-size;
				height: $item-size;

				border-radius: $item-size / 2;

				background: white;

				text-align: center;
				text-decoration: none;

				display: block;

				i {
					font-size: 24px;
					color: #424242;

				}

				&:hover i {
					opacity: 0.8;
				}
			}
		}

		.item {
			&.home {
				a {
					i {
						margin: 13px;
						color: #007bc7;
					}
				}
			}

			&.about {
				a {
					i {
						margin: 14px 16px;
						color: #e20000;
					}
				}
			}

			&.blog {
				a {
					i {
						margin: 14px 16px;
						color: #079a00;
					}
				}
			}

			&.status {
				a {
					i {
						margin: 14px 15px;
						color: #e6d800;
					}
				}
			}
		}
	}
}

.main-content {
	width: auto;
	// width: 1200px;
	
	min-height: 100%;
	height: auto;

	margin: 0 auto;
	margin-top: 24px;

	padding: (12px + 96px) 36px;
	padding-bottom: 24px;

	transition: all 0.5s;

	position: relative;

	&.active {
		padding-left: 36px + 96px;
	}

	.content-container {

		width: 1200px;

		min-height: 100%;
		height: auto;

		margin: 0 auto;

		position: relative;
		overflow: auto;

		transition: all 0.5s;
		// margin-top: 112px;

		.content-block {
			
			width: $content-block-width;
			height: $content-block-height;

			position: relative;

			margin: 12px;
			padding: 24px;

			box-shadow: 0px 4px 4px #c9c9c9;

			float: left;
			background: white;

			display: block;
			
			transition: all 0.5s;

			&.active {
				box-shadow: 0px 4px 4px #a8a8a8;

				.content-image {
					-webkit-box-shadow: 0px 5px 4px -1px rgba(84, 84, 84, 0.2);
					-moz-box-shadow: 0px 5px 4px -1px rgba(84, 84, 84,0.2);
					box-shadow: 0px 5x 4px -1px rgba(84, 84, 84, 0.2);
				}
			}

			.content-image {
				
				.image {
					padding: 12px;
					margin: 0 auto;

					height: 100%;

					display: block;
				}
			}

			.content-description {

				left: 0;
				bottom: 0;

				width: 100%;
				height: 75px;

				// padding: 18px;

				position: absolute;

				text-align: center;

				z-index: 0;

				background: #ff5e5e;

				&.web-development {
					background: #4aa06d;
				}

				&.about {
					background: #ff5e5e;
				}

				&.blog {
					background: #5e9eff;
				}

				&.status {
					background: #60c187;
				}

				h1 {
					padding: 18px;
					color: #f2f2f2;
				}
			}

			.content-image {
				left: 0;
				top: 0;

				width: 100%;
				height: 300px;

				display: block;

				position: absolute;

				z-index: 1;

				transition: all 0.5s;
				
				background: #a0d1ff;

				&.web-development {
					background: #a0d1ff;
				}

				&.about {
					background: #f9ffa3;
				}

				&.blog {
					background: #61c188;
				}

				&.status {
					background: #ff8e8a;
				}
			}

			&.active .content-image {
				height: 300px - (0.25 * 300);
			}

			h1 {
				margin: 0;
			}
		}
	}
}

/**
 * Responsive Design
 * Less than 1372px
 */
@media only screen and (max-width: 1372px) {

    .main-navigation {
    	#title {
    		width: $title-size - ($title-size * 0.2);
    	}
    }
    
    .main-content {
		
		width: auto;

    	.content-container {
    		width: 1200px - ((1200px * 20) / 100);

    		.content-block {
    			width: $content-block-width - ($content-block-width * 0.2);
    			height: $content-block-height - ($content-block-height * 0.2);

    			margin: 12px - ((12px * 20) / 100);
    			
    			.content-image {
    				height: $content-block-height - ($content-block-height * 0.2);
    			}

    			.content-description {
					height: 75px - (75px * 0.2);

					h1 {
						font-size: 36px - (36px * 0.2);
						padding: 18px - (18px * 0.2);
					}
				}

				&.active .content-image {
					height: ($content-block-height - ($content-block-height * 0.2)) - (75px - (75px * 0.2));
				}

    		}
    	}
    }
}

/**
 * Responsive Design
 * Less than 1130px
 */
@media only screen and (max-width: 1130px) {

    .main-navigation {
    	#title {
    		width: $title-size - ($title-size * 0.3);
    	}
    }
    
    .main-content {

		width: auto;
    	
    	.content-container {
    		width: 1200px - ((1200px * 30) / 100);

    		.content-block {
    			width: $content-block-width - ($content-block-width * 0.3);
    			height: $content-block-height - ($content-block-height * 0.3);

    			margin: 12px - ((12px * 30) / 100);

    			.content-image {
    				height: $content-block-height - ($content-block-height * 0.3);
    			}

    			.content-description {
					height: 75px - (75px * 0.3);

					h1 {
						font-size: 36px - (36px * 0.3);
						padding: 18px - (18px * 0.3);
					}
				}

				&.active .content-image {
					height: ($content-block-height - ($content-block-height * 0.3)) - (75px - (75px * 0.3));
				}
    		}
    	}
    }
}

// content height - new height = remainer

/**
 * Responsive Design
 * Less than 1020px
 */
@media only screen and (max-width: 1020px) {

    .main-navigation {
    	#title {
    		width: $title-size - ($title-size * 0.4);
    	}
    }
    
    .main-content {

		width: auto;
    	
    	.content-container {
    		width: 1200px - ((1200px * 40) / 100);

    		.content-block {
    			width: $content-block-width + ($content-block-width * 0.2);
    			height: $content-block-height + ($content-block-height * 0.2);

    			margin: 12px + ((12px * 40) / 100);

    			.content-image {
    				height: $content-block-height + ($content-block-height * 0.2);
    			}

    			.content-description {
					height: 75px + (75px * 0.2);

					h1 {
						font-size: 36px + (36px * 0.2);
						padding: 18px + (18px * 0.2);
					}
				}

				&.active .content-image {
					height: ($content-block-height + ($content-block-height * 0.2)) - (75px + (75px * 0.2));
				}
    		}
    	}
    }
}

/**
 * Responsive Design
 * Less than 892px
 */
@media only screen and (max-width: 892px) {

    .main-navigation {
    	#title {
    		width: $title-size - ($title-size * 0.5);
    	}
    }
    
    .main-content {
    	
		width: auto;
    	
		.content-container {
    		width: 1200px - ((1200px * 50) / 100);

    		.content-block {
    			width: $content-block-width;
    			height: $content-block-height;

    			margin: 12px + ((12px * 20) / 100);

    			.content-image {
    				height: $content-block-height;
    			}

    			.content-description {
					height: 75px;

					h1 {
						font-size: 36px;
						padding: 18px;
					}
				}

				&.active .content-image {
					height: ($content-block-height) - (75px);
				}
    		}
    	}
    }
}

/**
 * Responsive Design
 * Less than 678px
 */
@media only screen and (max-width: 678px) {

    .main-navigation {
    	#title {
    		width: $title-size - ($title-size * 0.6);
    	}
    }

    .main-content {
    	
		width: auto;
    	
		.content-container {
    		width: 1200px - ((1200px * 60) / 100);

    		.content-block {
    			width: $content-block-width - ($content-block-width * 0.2);
    			height: $content-block-height - ($content-block-height * 0.2);

    			margin: 12px + ((12px * 20) / 100);

    			.content-image {
    				height: $content-block-height - ($content-block-height * 0.2);
    			}

    			.content-description {
					height: 75px - (75px * 0.2);

					h1 {
						font-size: 36px - (36px * 0.2);
						padding: 18px - (18px * 0.2);
					}
				}

				&.active .content-image {
					height: ($content-block-height - ($content-block-height * 0.2)) - (75px - (75px * 0.2));
				}
    		}
    	}
    }
}

/**
 * Responsive Design
 * Less than 558px
 */
@media only screen and (max-width: 558px) {

    .main-navigation {
    	#title {
    		width: $title-size - ($title-size * 0.7);
    	}
    }

    .main-content {
    	
		width: auto;
	
		.content-container {
    		width: 1200px - ((1200px * 70) / 100);

    		.content-block {
    			width: $content-block-width - ($content-block-width * 0.4);
    			height: $content-block-height - ($content-block-height * 0.4);

    			margin: 12px + ((12px * 20) / 100);

    			.content-image {
    				height: $content-block-height - ($content-block-height * 0.4);
    			}

    			.content-description {
					height: 75px - (75px * 0.4);

					h1 {
						font-size: 36px - (36px * 0.4);
						padding: 18px - (18px * 0.4);
					}
				}

				&.active .content-image {
					height: ($content-block-height - ($content-block-height * 0.4)) - (75px - (75px * 0.4));
				}
    		}
    	}
    }
}




